
<div class="container-wrapper">
<div id="container">
<!-- <h1>Fetch Weather</h1>

<p>Choose a city:</p>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">City</span>
  </div>
  <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="formCity">
</div>
<p>...and a country:</p>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Country</span>
  </div>
  <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="formCountry">
</div>
<div class="btn btn-primary" (click)="getWeather(this.formCity,this.formCountry)">Fetch</div> -->

<div class="widget-wrapper">

  <div class="widget-header">
  <div id="search"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
    <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
  </svg></div>
  <div id="town">
  <strong>Münster</strong><span style="color: grey;">, DE</span>
</div>
<!-- 
  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-clockwise" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M3.17 6.706a5 5 0 0 1 7.103-3.16.5.5 0 1 0 .454-.892A6 6 0 1 0 13.455 5.5a.5.5 0 0 0-.91.417 5 5 0 1 1-9.375.789z"/>
    <path fill-rule="evenodd" d="M8.147.146a.5.5 0 0 1 .707 0l2.5 2.5a.5.5 0 0 1 0 .708l-2.5 2.5a.5.5 0 1 1-.707-.708L10.293 3 8.147.854a.5.5 0 0 1 0-.708z"/>
  </svg> -->
<div id="spinner">
  <fa-icon [icon]="faSync" [spin]="reloadSpinner"></fa-icon>
</div>
  <!-- <i class="fas fa-sync fa-spin-hover"></i> -->

  <!-- <img src="./../assets/refresh-icon-6.jpg"> -->


</div>

<div class="main-content">

  <div id="image">
    <img src="./../assets/screenshot.png">
  </div>

  <div class="celsius">
    <p id="celsius-degrees">29°</p>
    <p id="celsius-wording">Mostly Sunny</p>
  </div>

  <div class="fahrenheit">
    <div id="celsius-letter">C</div>
    <div id="fahrenheit-letter">F</div>
  </div>
</div>

<div id="weather-details">

  <div id="wind">
    <fa-icon [icon]="faWind" size="2x" id="wind-icon"></fa-icon>
    <div class="wind-desc"><span class="wind-speed">8</span> <span id="wind-speed-desc">km/h</span></div>
  </div>

  <div id="rain">
    <fa-icon [icon]="faTint" size="2x" id="rain-icon"></fa-icon>
    <div class="wind-desc rain-percent">59%</div>
  </div>

  <div id="snow">
    <img src="./../assets/hail.png">
    <span class="wind-speed">17%</span>
  </div>



</div>

</div>

<br><br>
{{ this.weatherState.clouds }}
{{ this.weatherState.temp }}
{{ this.weatherState.place }}
{{ this.weatherState.country }}

Design by <a href="https://lukacvetinovic.com/">Luka Cvetinovic</a><br>
Weather icons created by<a href='https://www.freepik.com/vectors/icon'> titusurya - www.freepik.com</a>
<!-- <a href="https://icon-library.net/icon/refresh-icon-6.html">Refresh Icon #33369</a> -->

</div>

</div>